@import "/src/assets/scss/variables.scss";
@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
  background-color: $light-gray;
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
